.hd-descriptions {
  font-size: 14px;
  .desc-row {
    overflow-x: hidden;
  }
  .desc-col {
    overflow-x: hidden;
    &.is-center {
      align-items: center;
    }
  }
  .desc-prop {
    flex: 1;
    width: 0;
    &.is-top {
      flex: none;
      width: 100%;
    }
  }
  .desc-value {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    word-break: break-all;
  }
  .desc-empty {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.text-opc0 {
  opacity: 0;
}
.descriptions-border {
  border: 1px solid rgba(5, 5, 5, 0.06);
  border-bottom: 0;
  border-right: 0;
  .desc-label {
    background: rgba(0, 0, 0, 0.02);
    border: 1px solid rgba(5, 5, 5, 0.06);
    border-top: 0;
    border-left: 0;
    padding: 8px;
    word-break: break-all;
  }
  .desc-prop {
    border: 1px solid rgba(5, 5, 5, 0.06);
    border-left: 0;
    border-top: 0;
    padding: 8px;
  }
}
