.hd-radio {
  display: flex;
  .radio-item {
    display: flex;
    align-items: center;
    padding: 6px 0;
    margin-right: 32px;
    cursor: pointer;
    user-select: none;
    &:last-child {
      margin-right: 0;
    }
  }
  .radio-icon {
    width: 14px;
    height: 14px;
    border: 1px solid var(--el-border-color);
    border-radius: 9999px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .radio-dot {
    width: 4px;
    height: 4px;
    border-radius: 9999px;
    background-color: #fff;
    box-shadow:
      0 1px 3px 0 rgba(0, 0, 0, 0.1),
      0 1px 2px -1px rgba(0, 0, 0, 0.1);
  }
  .active-icon {
    background-color: var(--el-color-primary);
    border-color: var(--el-color-primary);
  }
  .active-text {
    color: var(--el-color-primary);
  }
  .disabled-text {
    cursor: not-allowed;
    color: var(--el-disabled-text-color);
  }
  .disabled-radio {
    cursor: not-allowed;
    border-color: var(--el-disabled-border-color);
    background-color: var(--el-disabled-bg-color);
  }
}
