.ellipsis-tag {
  display: flex;
  width: 100%;

  .tag-clip {
    flex: 1;
    overflow: hidden;
  }

  .tag-box {
    white-space: nowrap;
    width: fit-content;
    display: flex;
    flex-wrap: nowrap;
    gap: 4px;
  }

  .ellipsis {
    border-radius: 2px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.06);
    color: #7f7f7f;
    transition: all 0.3s;

    &:hover {
      background-color: var(--el-color-primary-light-9);
      border-color: var(--el-color-primary-light-7);
      color: var(--el-color-primary);
    }
  }
}

.el-popover.ellipsis-tag-popover {
  padding: 0.75rem;

  .tag-box {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }

  .tag {
    border-radius: 2px;
    padding: 4px 8px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #fff;
    white-space: nowrap;
    margin: 0;
  }
}
