.time-line {
  --time-line-primary: #824c96;
  --time-line-primary-light1: #eee2f3;
  --time-line-primary-light2: #f2edf4;
  --time-line-gray: #fbfbfb;
  width: 100%;
  .dot {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
    .dot-con {
      width: 16px;
      height: 16px;
      border-radius: 9999px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--time-line-primary-light1);
      > div {
        width: 8px;
        height: 8px;
        border-radius: 9999px;
        background-color: var(--time-line-primary);
      }
    }
  }
  .time-line-item {
    display: flex;
    width: 100%;
    &:last-child {
      .cus-line {
        border: none;
      }
    }
  }
  .time-line-prepend {
    position: relative;
    top: -0.25rem;
    display: flex;
    justify-content: flex-end;
  }
  .time-line-item-main {
    min-height: 32px;
    padding: 0 1rem;
    position: relative;
    top: -0.25rem;
  }
  .time-line-item-time {
    margin-bottom: 0.5rem;
  }
  .time-line-item-content {
    padding: 1rem;
    color: #666;
    font-size: 14px;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    line-height: 26px;
    background-color: var(--time-line-gray);
  }
  .time-line-status {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    width: 80px;
    font-size: 14px;
    border-radius: 9999px;
    border: 1px solid var(--time-line-primary-light1);
    text-align: center;
    height: fit-content;
    color: var(--time-line-primary);
    background-color: var(--time-line-primary-light2);
  }
  .cus-line {
    position: relative;
    margin-left: 1rem;
    flex: 1;
    border-left: 1px solid var(--time-line-primary);
  }
  .time-border {
    border-color: var(--time-line-primary);
  }
}
