.nav-tabs-w {
  background: var(--yto-layout-nav-background);
  @apply px-[10px] pt-[8px];

  :deep(.el-tabs) {
    background: transparent;
    border: none;
    --el-tabs-header-height: 32px;

    .el-tabs__nav-wrap {
      margin-bottom: 0;
      padding-bottom: 0;
      .el-tabs__nav-prev,
      .el-tabs__nav-next {
        @apply leading-[var(--el-tabs-header-height)];
      }

      .el-tabs__nav {
        border: none;
      }
    }
  }

  :deep(.el-tabs__header) {
    background: transparent;
    border: none;
    margin: 0;
  }

  :deep(.el-tabs__content) {
    display: none;
  }

  :deep(.el-tabs__item) {
    height: 32px;
    line-height: 32px;
    margin: 0 !important;
    border: none !important;
    background: var(--yto-layout-nav-background);
    padding: 0 12px !important;
    position: relative;
    transition: all 0.3s;

    &::before,
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 4px;
      height: 4px;
      background: transparent;
      transition: all 0.3s;
      opacity: 0;
    }

    &::before {
      left: -4px;
      border-bottom-right-radius: 4px;
    }

    &::after {
      right: -4px;
      border-bottom-left-radius: 4px;
    }

    &:not(:first-child) .divider {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
      height: 16px;
      background: rgba(0, 0, 0, 0.1);
      transition: opacity 0.3s;
    }

    &.is-active .divider {
      display: none;
    }

    &.is-active + .el-tabs__item .divider {
      display: none;
    }

    &:not(.is-active):hover {
      background: #fff;
      border-radius: 4px 4px 0 0 !important;
      z-index: 1;

      .divider {
        display: none;
      }

      &::before {
        opacity: 1;
        box-shadow: 2px 2px 0 2px #fff;
      }

      &::after {
        opacity: 1;
        box-shadow: -2px 2px 0 2px #fff;
      }

      & + .el-tabs__item .divider {
        opacity: 0;
      }

      .content .label {
        color: var(--el-color-primary);
      }
    }

    &.is-active {
      background: #fff;
      border-radius: 4px 4px 0 0 !important;
      z-index: 1;

      &::before {
        opacity: 1;
        box-shadow: 2px 2px 0 2px #fff;
      }

      &::after {
        opacity: 1;
        box-shadow: -2px 2px 0 2px #fff;
      }

      & + .el-tabs__item .divider {
        opacity: 0;
      }

      .content .label {
        color: var(--el-color-primary);
        font-weight: 500;
      }
    }

    .el-icon.is-icon-close {
      margin-left: 4px;
      width: 16px;
      height: 16px;
      line-height: 16px;
      color: #999;
      transition: all 0.3s;

      &:hover {
        background: rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        color: #666;
      }
    }
  }
}
