.custom-field-config-row {
  .el-select-v2__wrapper,
  .el-input__inner,
  .el-input__wrapper.is-focus,
  .el-select__wrapper,
  .el-input__wrapper {
    box-shadow: none !important;
    border: none !important;
  }
  .el-select {
    --el-select-input-focus-border-color: transparent;
  }
}
.el-form-item {
  margin-bottom: 0px !important;
}
.is-error {
  .custom-field-config-row {
    border: 1px solid #f00;
  }
}
.is-error {
  & {
    border-color: red !important;
  }
}
.value-view {
  .el-input__inner {
    text-align: right;
  }
}
