@use 'sass:math';
@use 'sass:map';

$nav-tabs: () !default;
$nav-tabs: map.merge(
  (
    'background': #e2e6e8,
    'background-active': #fff,
    'background-hover': #f0f2f3,
    'background-item': #fff,
    'color-text': #151719,
    'color-text-active': #4272dd,
    'color-item-divider': #b4b9bf,
  ),
  $nav-tabs
);

$menu-common: () !default;
$menu-common: map.merge(
  (
    'background': #333f5f,
    'background-search': #2a3249,
    'background-title': transparent,
    'color-text': #d4daec,
    'color-text-active': #ffffff,
    'color-triangle': #7b88a8,
    'color-title': #ffffff,
    'header-box-shadow': inset 0px -1px 0px 0px rgba(0, 0, 0, 0.1),
  ),
  $menu-common
);

$menu-level-1: () !default;
$menu-level-1: map.merge(
  (
    'level-1-background-color': #333f5f,
    'level-1-background-color-hover': #384569,
    'level-1-background-color-active': #4272dd,
    'level-1-background-color-expand': #334c84,
    'level-1-box-shadow': inset 0px -1px 0px 0px #2a3249,
  ),
  $menu-level-1
);

$menu-level-2: () !default;
$menu-level-2: map.merge(
  (
    'level-2-background-color': #2a3249,
    'level-2-background-color-hover': #36415e,
    'level-2-background-color-active': #4272dd,
    'level-2-background-color-expand': #2a3249,
  ),
  $menu-level-2
);

$menu-level-3: () !default;
$menu-level-3: map.merge(
  (
    'level-3-background-color': #232a3d,
    'level-3-background-color-hover': #2f3852,
    'level-3-background-color-active': #4272dd,
  ),
  $menu-level-3
);
