@use 'sass:math';
@use 'sass:map';
$layout-router: () !default;
$layout-router: map.merge(
  (
    'background': white,
  ),
  $layout-router
);

$layout-header: () !default;
$layout-header: map.merge(
  (
    'background': #fff,
    'color-text': #000,
  ),
  $layout-header
);

$nav-tabs: () !default;
$nav-tabs: map.merge(
  (
    'background': #e2e6e8,
    'background-active': #fff,
    'background-hover': #f0f2f3,
    'background-item': #fff,
    'color-text': #151719,
    'color-text-active': #9547ec,
    'color-item-divider': #b4b9bf,
  ),
  $nav-tabs
);

$menu-common: () !default;
$menu-common: map.merge(
  (
    'background': #6a29b2,
    'background-search': #47157f,
    'background-title': transparent,
    'background-scrollbar': #752ec7,
    'background-scrollbar-thumb': #a95dfd,
    'color-text': #eae3f3,
    'color-text-active': #ffffff,
    'color-triangle': #bca8c9,
    'color-title': #ffffff,
    'header-box-shadow': inset 0px -1px 0px 0px #511f89,
  ),
  $menu-common
);

$menu-level-1: () !default;
$menu-level-1: map.merge(
  (
    'level-1-background-color': #6a29b2,
    'level-1-background-color-hover': #752ec7,
    'level-1-background-color-active': #a95dfd,
    'level-1-background-color-expand': #8b3ee1,
    'level-1-box-shadow': inset 0px -1px 0px 0px #511f89,
  ),
  $menu-level-1
);

$menu-level-2: () !default;
$menu-level-2: map.merge(
  (
    'level-2-background-color': #47157f,
    'level-2-background-color-hover': #521994,
    'level-2-background-color-active': #a95dfd,
    'level-2-background-color-expand': #47157f,
  ),
  $menu-level-2
);

$menu-level-3: () !default;
$menu-level-3: map.merge(
  (
    'level-3-background-color': #3e1d5c,
    'level-3-background-color-hover': #521994,
    'level-3-background-color-active': #a95dfd,
  ),
  $menu-level-3
);
